
@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a>Hello - @User.Identity.Name</a></li>
        <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Login", "Index", "Login")</li>
        <li>@Html.ActionLink("SignUp","SignUp","Register")</li>
    </ul>
}